.l_logo{
	width:100%;
	height: 0.64rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.l_logo_img{
	width:1.7rem;
	height: 0.5rem;
}
.l_box{
	width:calc(100% - 0.24rem);
	min-height: 3rem;
	box-shadow:0px 0px 6px rgba(102,155,193,0.1);
	border-radius: 0.12rem;
	margin:0 auto;
	margin-top:0.17rem;
	padding: 0.2rem 0.15rem;
	box-sizing: border-box;
}
.l_box-list{
	width:100%;
	height: 0.56rem;
	border-bottom: 1px solid #E5E5E5;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.l_bl-img{
	width:0.24rem;
	height: 0.24rem;
}
.l_bl-input{
	flex: 1;
	font-size:0.15rem;
	color:#999;
	margin-left:0.11rem;
}
.l_text{
	width:100%;
	margin-top:0.21rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size:0.14rem;
	color:#999;
}
.l_text a{
	color:#6998D5;
}
.l_botton{
	width:100%;
	height: 0.44rem;
	font-size:0.15rem;
	color:#FFF;
	line-height: 0.44rem;
	text-align: center;
	background-color: #E60023;
	border-radius: 6px;
	margin-top:0.4rem;
}
.l_explan{
	width:100%;
	margin-top:0.1rem;
	font-size:0.1rem;
	color:#999999;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.l_explan>div{
	color:#333333;
}
.l_explan>text{
	color:#0000CC;
}
.l_f{
	width:100%;
	position: absolute;
	bottom:0.4rem;
}
.l_fast{
	width:calc(100% - 0.56rem);
	height: 0.01rem;
	background-color: #D8D8D8;
	margin:0 auto;
	/*margin-top:1.16rem;*/
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}
.l_fast_text{
	position: absolute;
	width:1.2rem;
	font-size:0.12rem;
	background-color: #FFF;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color:#999999;
}
.l_footer{
	width:calc(100% - 0.56rem);
	display: flex;
	flex-direction: row;
	margin:0 auto;
	margin-top:0.27rem;
	justify-content: space-between;
}
.l_footer_list{
	width:0.48rem;
	height: 0.48rem;
}

/*注册2*/
.z-header{
	width:100%;
	height: 0.48rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #EFEFEF;
	position: relative;
}
.z_h_return{
	position: absolute;
	width:0.44rem;
	height: 0.44rem;
	left:0.1rem;
}
.z-header-round{
	width:0.08rem;
	height: 0.08rem;
	border-radius: 50%;
	background-color: #8E8E8E;
	margin-left:0.1rem;
}
.z-header-round:first-child{
	margin-left:0;
}
.z-header-round-hover{
	background-color: #E60023;
}
.z-img{
	width:1.08rem;
	height: 1.08rem;
	border-radius: 50%;
	margin:0 auto;
	margin-top:0.6rem;
}
.z-name{
	font-size:0.2rem;
	text-align: center;
	margin-top:0.4rem;
	color:#333;
	font-weight: bold;
}
.z-text{
	margin-top:0.13rem;
	text-align: center;
	font-size:0.16rem;
	color:#333;
}
.z_botton{
	width:3.2rem;
	height: 0.45rem;
	background-color: #E60023;
	font-size:0.18rem;
	color:#FFF;
	line-height: 0.45rem;
	text-align: center;
	margin:0 auto;
	margin-top:1.91rem;
	border-radius: 4px;
}

.zt_title{
	font-size:0.2rem;
	color:#333;
	text-align: center;
	margin-top:0.2rem;
	font-weight: bold;
	line-height: 0.4rem;
}
.z_s_box{
	width:3.2rem;
	height: 0.45rem;
	text-align: center;
	margin:0 auto;
	margin-top:0.4rem;
	border:1px solid #D8D8D8;
	background-color: #F8F8F8;
	font-size:0.16rem;
	color:#333;
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.z-select{
	width:calc(100% - 0.52rem);
	height: 0.45rem;
	border:none;
	background-color: #F8F8F8;
	margin-left:0.15rem;
}
.z-select-img{
	width:0.32rem;
	height: 0.32rem;
}
.zt_botton{
	width:3.2rem;
	height: 0.45rem;
	background-color: #E60023;
	border-radius: 4px;
	line-height: 0.45rem;
	text-align: center;
	font-size:0.18rem;
	color:#FFF;
	margin:0 auto;
	margin-top:2.35rem;
}
.zf_boxo{
	width:calc(100% - 0.22rem);
	height: calc(100vh - 1.5rem);
	margin:0 auto;
	margin-top:0.09rem;
	overflow-y: auto;
}
.zf_boxo_list{
	width:1.7rem;
	display: inline-block;
	margin-top:0.2rem;
	margin-left:0.09rem;
}
.zf_boxo_list:nth-of-type(odd){
	margin-left:0;
}
.zf_bl_box{
	width:1.7rem;
	height: 1.7rem;
	position: relative;
	
}
.zf_bl_img{
	width:1.7rem;
	height: 1.7rem;
	border-radius: 6px;
}
.zf_bl_text{
	position: absolute;
	left:0.1rem;
	bottom:0.1rem;
	font-size:0.16rem;
	color:#FFF;
}
.zf_b_bottom{
	width:1.7rem;
	height: 0.32rem;
	border-radius: 6px;
	background-color: #E60023;
	color:#FFF;
	line-height: 0.32rem;
	text-align: center;
	font-size:0.14rem;
	color:#FFF;
	margin-top:0.08rem;
}
.zf_empty{
	width:100%;
	height: 0.69rem;
}
.zf_botton{
	position: fixed;
	left:0;
	bottom:0;
	width:100%;
	height: 0.49rem;
	font-size:0.16rem;
	color:#333;
	line-height: 0.49rem;
	text-align: center;
	box-shadow:0px -3px 6px rgba(0,0,0,0.16);
	background-color: #FFF;
	z-index: 99;
}

.zf_form{
	width:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size:0.14rem;
	color:#333;
}
.zf_form>label{
	width:3.2rem;
	height: 0.45rem;
	display: flex;
	flex-direction:row;
	align-items: center;
	border-bottom: 1px solid #EFEFEF;
}
.zf_form input{
	-webkit-appearance: radio;
	margin-right:0.2rem;
}


/*手机端商城*/
.ss_header{
	width:100%;
	height: 0.64rem;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.ss_h_img{
	width:0.96rem;
	height: 0.28rem;
}
.ss_h_serch{
	position: absolute;
	right:0.12rem;
	width:0.24rem;
	height: 0.24rem;
}
.ss_swiper{
	width:100%;
	height: 1.66rem;
}
.ss_swiper>.swiper-wrapper{
	width:100%;
	height: 1.56rem;
}
.ss_swiper img{
	width:100%;
	height: 100%;
}
.ss_swiper .swiper-pagination{
	position: absolute;
	bottom:-.26rem;
	/*height: 0.08rem;*/
	z-index: 9999;
}
.ss_swiper .swiper-pagination-bullet{
	width:10px;
	height: 3px;
	background-color: #D8D8D8;
	border-radius: 1px;
}
.ss_swiper .swiper-pagination-bullet-active{
	background-color: #E60023;
}
.ss_name{
	width:calc(100% - 0.2rem);
	margin-left:0.12rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top:0.15rem;
}
.ss_n_left{
	font-size:0.16rem;
	color:#333;
	font-weight: bold;
}
.ss_n_right{
	font-size:0.12rem;
	color:#999;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.ss_n_right>img{
	width:0.24rem;
	height: 0.24rem;
}
.ss_l_box{
	width:calc(100% - 0.14rem);
	margin-left:0.02rem;
	overflow: hidden;
}
.ss_l_box-img{
	width:0.8rem;
	height: 0.6rem;
	margin-left:0.1rem;
	margin-top:0.1rem;
	float:left;
}
.ss_empty{
	width:100%;
	height: 0.1rem;
	background-color: #F8F8F8;
	margin-top:0.1rem;
}
.ss_nav{
	width:100%;
	height: 0.4rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top:0.07rem;
}
.ss_nav_list{
	height: 0.4rem;
	box-sizing: border-box;
	font-size:0.14rem;
	color:#999999;
	margin-left:0.38rem;
	line-height: 0.4rem;
}
.ss_nav_list-hover{
	border-bottom: 2px solid #E60023;
	color:#E60023;
}
.ss_nav_empty{
	flex:1;
}
.ss_nav_box{
	width:0.48rem;
	height: 0.24rem;
	border-left:1px solid #E9E9E9;
	display: flex;
	flex-direction: row;
	justify-content: center;
	box-sizing: border-box;
}
.ss_nav_img{
	width:0.24rem;
	height: 0.24rem;
}
.ss_nl_box{
	width:100%;
	overflow: hidden;
}
.ss_nl_box_list{
	width:calc(50% - 0.015rem);
	display: flex;
	flex-direction: column;
	margin-top:0.1rem;
	margin-left:0.03rem;
	float:left;
}
.ss_nl_box_list:nth-of-type(odd){
	margin-left: 0;
}
.ss_nl_img{
	width:100%;
	height: 1.86rem;
}
.ss_nl_title{
	width:1.8rem;
	font-size:0.14rem;
	margin-top:0.05rem;
	margin-left:0.05rem;
	color:#000;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.ss_nl_integral{
	margin-left:0.05rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size:0.12rem;
	color:#e60023;
}
.ss_nl_integral>span{
	font-size:0.18rem;
}
.ss_nl_stock{
	margin:auto;
	margin-top:0.02rem;
	margin-left:0.05rem;
	font-size:0.1rem;
	color:#999;
	background-color: #F8F8F8;
	padding:0.02rem 0.04rem;
	line-height: 0.14rem;
}
.ss_tabbar{
	width:100%;
	height: 0.49rem;
	border-top:1px solid rgba(102,102,102,0.1);
	position: fixed;
	bottom:0;
	background-color: #FFF;
	display: flex;
	flex-direction: row;
}
.ss_tabbar_list{
	flex: 1;
	height: 0.49rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.ss_tl-img{
	width:0.24rem;
	height: 0.24rem;
	margin-top:0.05rem;
}
.ss_tl-text{
	font-size:0.1rem;
	color:#666;
	margin-top:0.02rem;
}
.ss_tababr_empty{
	width:100%;
	height: 0.6rem;
}
.ss_search_header{
	width:100%;
	height: 0.64rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 0.12rem;
	box-sizing: border-box;
}
.ss_sh_img{
	width:0.22rem;
	height: 0.22rem;
}
.ss_sh_box{
	flex:1;
	height: 0.32rem;
	margin-left:0.08rem;
	background-color: #F8F8F8;
	border:1px solid #D8D8D8;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.ss_sh_input{
	flex: 1;
	padding: 0 0.1rem;
	box-sizing: border-box;
	background-color: #F8F8F8;
	font-size:0.14rem;
	color:#33312D;
}
.ss_sh_box-img{
	width:0.24rem;
	height: 0.24rem;
	margin-right:0.12rem;
}
.ss_sb{
	width:100%;
	height: 0.4rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size:0.14rem;
	color:#333;
	padding: 0 0.12rem;
	box-sizing: border-box;
	font-weight: bold;
}
.ss_sb_list,.ss_sb_list2{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.ss_sb_img,.ss_sb_img2{
	width:0.12rem;
	height: 0.12rem;
	margin-left:0.04rem;
}



/*!!!!!!!!!!!!!!!!!!!!!!!!!*/
.ss_nl_box_scroll{
	height: calc(100vh - 1.64rem);
	overflow-y: auto;
}


/*商品详情*/
.dt_header{
	position: relative;
	width:100%;
	height: 0.64rem;
	background-color: #FFF;
	color:#333;
	font-size:0.18rem;
	line-height: 0.64rem;
	text-align: center;
}
.dt_header_img{
	position: absolute;
	width:0.32rem;
	height: 0.52rem;
	left:0.12rem;
	top:0.06rem;
}
.dt_swiper{
	width:100%;
	height: 3.75rem;
}
.dt_swiper .swiper-wrapper img{
	width:100%;
	height: 3.75rem;
}


.dt_money{
	font-size:0.12rem;
	color:#E60023;
	margin-top:0.12rem;
	margin-left:0.12rem;
}
.dt_title{
	color:#000;
	font-size:0.16rem;
	margin-top:0.05rem;
	margin-left:0.12rem;
}
.dt_explan{
	font-size:0.12rem;
	color:#999;
	margin-top:0.05rem;
	margin-left:0.12rem;
	margin-bottom: 0.12rem;
}
.dt-empty{
	width:100%;
	height: 0.1rem;
	background-color:#F7F7F7;
}
.dt_yx{
	width:100%;
	height: 0.44rem;
	background-color: #FFF;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding:0 0.12rem;
	box-sizing: border-box;
}
.dt_yx_title{
	font-size:0.12rem;
	color:#999;
}
.dt_yx_text{
	margin-left:.12rem;
	font-size:0.14rem;
	color:#333;
}
.dt_yx_empty{
	flex:1;
	height: 100%;
}
.dt_yx_img{
	width:0.24rem;
	height: 0.24rem;
}
.dt_pj{
	width:100%;
	height: 0.4rem;
	border-bottom: 1px solid #EFEFEF;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.dt_pj_red{
	width:0.03rem;
	height: 0.16rem;
	background-color: #E60023;
	margin-left:0.12rem;
}
.dt_pj_name{
	font-size:0.14rem;
	color:#333;
	margin-left:0.06rem;
}
.dt_pj_good{
	margin-left:0.1rem;
	font-size:0.1rem;
	color:#E60023;
}
.dt_pj_empty{
	flex:1;
	height: 100%;
}
.dt_pj_text{
	font-size:0.12rem;
	color:#666;
}
.dt_pj_img{
	width:0.24rem;
	height: 0.24rem;
}
.dt_pj_list{
	width:100%;
	height: 0.74rem;
	padding: 0 0.12rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid #EFEFEF;
}
.dt_pl_left{
	margin-top:0.16rem;
	display: flex;
	flex-direction: row;
}
.dt_pl_left_img{
	width:0.32rem;
	height: 0.32rem;
}
.dt_pl_left_box{
	margin-left:0.12rem;
}
.dt_pl_left_box_name{
	font-size:0.14rem;
	color:#333;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.dt_lb_box{
	display: flex;
	flex-direction: row;
	margin-left:0.01rem;
}
.dt_lb_box_img{
	width:0.12rem;
	height: 0.11rem;
	margin-left:0.03rem;
}
.dt_pl_left_box_explan{
	font-size:0.14rem;
	color:#333;
	margin-top:0.12rem;
}
.dt_pl_right{
	font-size:0.1rem;
	color:#999;
	margin-top:0.19rem;
}
.dt_ftitle{
	width:100%;
	height: 0.37rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.dt_ftitle_img{
	width:0.26rem;
	height: 0.08rem;
}
.dt_ftitle_text{
	font-size:0.12rem;
	color:#E60023;
	margin-left:0.13rem;
	margin-right:0.13rem;
}
.dt_detail{
	width:100%;
	height: 2rem;
	background-color: #DDD;
}
.dt_button_empty{
	width:100%;
	height: 0.49rem;
	
}
.dt_button{
	width:100%;
	height: 0.49rem;
	position: fixed;
	bottom:0;
	left:0;
	display: flex;
	flex-direction: row;
}
.dt_button_shopping{
	width:1.15rem;
	height: 100%;
	background-color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.dt_button_shopping_img{
	width:0.2rem;
	height: 0.2rem;
}
.dt_button_shopping_text{
	font-size:0.11rem;
	color:#262626;
}
.dt_button_add{
	width:1.05rem;
	height: 100%;
	font-size:0.16rem;
	color:#FFF;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: #FFA933;
}
.dt_button_qg{
	flex: 1;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size:0.16rem;
	color:#FFF;
	background-color: #E60023;
}
.sc_empty{
	width:100%;
	height: 0.1rem;
	background-color: #F8F8F8;
}
.sc_list{
	width:calc(100% - 0.2rem);
	min-height: 1.55rem;
	margin:0 auto;
	background-color: #FFF;
	border-radius: 12px;
	padding: 0.15rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin-top:0.1rem;
}
.sc_list_top{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.sc_lt_select{
	width:0.18rem;
	height: 0.18rem;
	border-radius: 50%;
	border: 1px solid #E5E5EA;
}
.sc_lt_img{
	width:0.8rem;
	height: 0.8rem;
	margin-left:0.12rem;
}
.sc_lt_box{
	margin-left:0.12rem;
	height: 0.8rem;
	display: flex;
	flex-direction: column;
}
.sc_lt_box_title{
	color:#000;
	font-size:0.14rem;
}
.sc_lt_box_name{
	font-size:0.12rem;
	color:#999;
	margin-top:0.06rem;
}
.sc_lt_box_empty{
	flex:1;
}
.sc_lt_box_money{
	color:#F2250D;
	font-size:0.12rem;	
}
.sc_list_stepper{
	display: flex;
	flex: row;
	justify-content: flex-end;
	margin-top:0.15rem;
}
.sc_ls_cut{
	width:0.34rem;
	height: 0.3rem;
	border:1px solid #ECECEC;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-right:none;
}
.sc_ls_add{
	width:0.34rem;
	height: 0.3rem;
	border:1px solid #ECECEC;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-left:none;
}
.sc_ls_cut_img{
	width:0.12rem;
	height: 0.02rem;
}
.sc_ls_add_img{
	width:0.12rem;
	height: 0.12rem;
}
.sc_ls_content{
	width:0.34rem;
	height: 0.3rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size:0.14rem;
	color:#999;
	border:1px solid #ECECEC;
}
.sc_bottom{
	width:100%;
	height: 0.49rem;
	background-color: #FFF;
	position: fixed;
	bottom:0.49rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.sc_bottom_img{
	width:0.22rem;
	height: 0.22rem;
	border:1px solid #E5E5EA;
	border-radius: 50%;
	margin-left:0.15rem;
}
.sc_bottom_text{
	font-size:0.14rem;
	color:#262626;
	margin-left:0.08rem;
}
.sc_bottom_sum{
	font-size:0.14rem;
	margin-left:0.08rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.sc_bottom_sum>span,.sc_bottom_sum>p{
	color:#E60023;
	font-size:0.14rem;
	line-height: 0.2rem;
}
.sc_bottom_empty{
	flex: 1;
	height: 0.24rem;
	border-right:1px solid #E9E9E9;
}
.sc_bottom_bj{
	width:0.8rem;
	height: 0.49rem;
	font-size:0.14rem;
	color:#333;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.sc_bottom_js{
	width:0.8rem;
	height: 0.49rem;
	background-color: #E60023;
	font-size:0.14rem;
	color:#FFF;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}


/*下单*/
.xd_address{
	width:calc(100% - 0.24rem);
	height: 1.02rem;
	margin:0 auto;
	margin-top:0.1rem;
	border-radius: 12px;
	background-color: #FFF;
	display:flex;
	flex-direction: row;
	padding:0.15rem 0.1rem;
	box-sizing: border-box;
}
.xd_adress_img{
	width:0.24rem;
	height: 0.24rem;
}
.xd_adress_box{
	margin-left:0.15rem;
	flex: 1;
}
.xd_adress_box_title{
	font-size:0.14rem;
	color:#000;
}
.xd_adress_box_title>text{
	color:#999;
}
.xd_adress_box_address{
	width:2.32rem;
	margin-top:0.1rem;
	font-size:0.12rem;
	color:#000;
}
.xd_content{
	width:calc(100% - 0.24rem);
	height: 3.03rem;
	margin:0 auto;
	background-color: #FFF;
	margin-top:0.1rem;
	border-radius: 12px;
	padding:0.12rem;
	box-sizing: border-box;
}
.xd_content_list{
	display: flex;
	flex-direction: row;
	margin-top:0.21rem;
}
.xd_content_list:first-child{
	margin-top:0;
}
.xd_content_list_img{
	width:0.8rem;
	height: 0.8rem;
}
.xd_content_list_center{
	flex: 1;
	margin-left:0.12rem;
}
.xd_clc_title{
	font-size:0.12rem;
	color:#333;
}
.xd_clc_text{
	color:#999;
	font-size:0.12rem;
	margin-top:0.06rem;
}
.xd_cl_right{
	width:0.8rem;
}
.xd_clr_jf{
	font-size:0.12rem;
	color:#333;
	text-align: right;
}
.xd_clr_jf_number{
	margin-top:0.06rem;
	color:#999999;
	font-size:0.1rem;
	text-align: right;
}
.xd_content_way{
	margin-top:0.15rem;
	font-size:0.13rem;
	color:#333;
	display: flex;
	flex-direction: row;
}
.xd_cw_way{
	margin-left:0.28rem;
}
.xd_cw_mfps{
	color:#999999;
	margin-left:0.1rem;
	flex: 1;
}
.xd_cw_img{
	width:0.24rem;
	height: 0.24rem;
	margin-top: -0.03rem;
}
.xd_adress_imgs{
	width:0.24rem;
	height: 0.24rem;
	margin-top:-0.03rem;
}
.xd_numbers{
	margin-top:0.12rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-size:0.12rem;
}
.xd_numbers_num{
	color:#999;
}
.xd_numbers_title{
	color:#333;
	margin-left:0.06rem;
}
.xd_numbers_title>text{
	color:#FF423F;
	margin-left:0.03rem;
}
.xd_botton{
	width:100%;
	height: 0.49rem;
	position: fixed;
	bottom:0;
	left:0;
	display: flex;
	flex-direction: row;
	font-size:0.14rem;
	background-color: #FFF;
}
.xd_botton_left{
	width:2.51rem;
	height: 100%;
	line-height: 0.49rem;
	text-align: right;
	margin-right:0.2rem;
}
.xd_botton_left>text{
	margin-left: 0.06rem;
	color:#E60023;
}
.xd_botton_right{
	flex: 1;
	height: 100%;
	background-color: #E60023;
	color:#FFF;
	line-height: 0.49rem;
	text-align: center;
}
.pay_img{
	width:0.8rem;
	height: 0.8rem;
	margin:0 auto;
	margin-top:0.84rem;
}
.pay_title{
	font-size:0.2rem;
	color:#222;
	text-align: center;
	margin-top:0.2rem;
}
.pay_text{
	font-size:0.12rem;
	text-align: center;
	color:0.06rem;
	color:#999;
	margin-top:0.06rem;
}
.pay_bottom{
	width:calc(100% - 0.24rem);
	height: 0.44rem;
	font-size:0.16rem;
	color:#FFF;
	background-color: #E60023;
	line-height: 0.44rem;
	text-align: center;
	position: fixed;
	bottom:0.12rem;
	margin-left:0.12rem;
}
.mine_header{
	width:100%;
	height: 0.4rem;
	padding: 0 0.15rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size:0.14rem;
	color:#666;
	background-color: #FFF;
}
.mine_header_list{
	height: 100%;
	box-sizing: border-box;
	line-height: 0.4rem;
}
.mine_list{
	width:calc(100% - 0.2rem);
	height: 1.9rem;
	background-color: #FFF;
	border-radius: 12px;
	margin:0 auto;
	margin-top:0.1rem;	
	padding:0 0.15rem;
	box-sizing: border-box;
}
.mine_list_header{
	width:100%;
	height: 0.32rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size:0.12rem;
	color:#000;
}
.mine_body{
	width:100%;
	display: flex;
	flex-direction: row;
	margin-top:0.1rem;
}
.mine_body_img{
	width:0.8rem;
	height: 0.8rem;
}
.mine_body_text{
	flex: 1;
	margin-left:0.12rem;
}
.mine_bt_title{
	font-size:0.14rem;
	color:#333;
}
.mine_bt_explan{
	font-size:0.12rem;
	color:#999;
	margin-top:0.06rem;
}
.mine_bt_explan_integral{
	font-size:0.12rem;
	color:#333;
	margin-top:0.15rem;
}
.mine_body_number{
	font-size:0.12rem;
	color:#666;
}
.mine_body_integral{
	text-align: right;
	font-size:0.12rem;
	color:#333;
	margin-top:0.08rem;
}
.mine_body_botton{
	width:0.64rem;
	height: 0.2rem;
	line-height: 0.2rem;
	text-align: center;
	border-radius: 10px;
	float:right;
	margin-top:0.13rem;
	font-size:0.12rem;
	color:#E60023;
	border:1px solid #E60023;
}
.write_content{
	width:100%;
	min-height: 2.31rem;
	background-color: #FFF;
	margin-top:0.1rem;
	padding-left:0.12rem;
	box-sizing: border-box;
	overflow: hidden;
}
.write_content_header{
	width:calc(100% - 0.12rem);
	height: 0.48rem;
	margin-left:0.12rem;
	border-bottom:1px solid #E5E5E5;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-right:0.12rem;
	box-sizing: border-box;
}
.write_ch_img{
	width:0.32rem;
	height: 0.32rem;
}
.write_ch_name{
	font-size:0.12rem;
	color:#333;
	margin-left:0.11rem;
}
.write_ch_box{
	flex: 1;
	display: flex;
	flex-direction: row;
}
.write_ch_box_img{
	width:0.2rem;
	height: 0.19rem;
	margin-left:0.2rem;
}
.write_ch_good{
	font-size:0.12rem;
	color:#999;
}
.write_content_textarea{
	width:100%;
	height: 1.1rem;
	padding:0.12rem;
	box-sizing: border-box;
	font-size:0.14rem;
	color:#333;
}
.write_content_box{
	width:0.6rem;
	height: 0.6rem;
	margin-left:0.1rem;
	position: relative;
	float:left;
	margin-bottom:0.12rem;
}
.write_content_box:first-child{
	margin-left:0.12rem;
}
.write_content_box_img{
	width:0.6rem;
	height: 0.6rem;
}
.write_content_box_input{
	width:100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	opacity: 0;
}
.write_cb_img{
	width:0.24rem;
	height: 0.24rem;
	position: absolute;
	top:0;
	right:0;
}
.write_button{
	position: fixed;
	width:calc(100% - 0.24rem);
	bottom:0.12rem;
	left:0.12rem;
	height: 0.44rem;
	background-color: #E60023;
	color:#FFF;
	font-size:0.16rem;
	line-height: 0.44rem;
	text-align: center;
}
.assess_header{
	width:100%;
	height: 0.44rem;
	padding: 0 0.11rem 0 0.1rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.assess_header_list{
	height: 0.24rem;
	background-color: #FEF4F5;
	border-radius: 12px;
	font-size:0.1rem;
	color:#333;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.list_one{
	width:0.9rem;
	height: 0.24rem;
	color:#FF423F;
	border:1px solid #FF423F;
}
.assess_header_liso_img{
	width:0.08rem;
	height: 0.08rem;
	margin-right:0.03rem;
	border:1px solid #eee;
}
.list_two{
	width:0.9rem;
}
.list_three{
	width:0.72rem;
}
.list_four{
	width:0.72rem;
}
.assess_empty{
	width:100%;
	height: 0.1rem;
	background-color: #F8F8F8;
}
.assess_list{
	width:100%;
	min-height: 1rem;
	background-color: #FFF;
	padding:0.15rem 0.1rem 0 0.1rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
}
.assess_list_img{
	width:0.4rem;
	height: 0.4rem;
}
.assess_list_box{
	flex:1;
	height: 100%;
	border-bottom:1px solid #E4E4E4;
	margin-left:0.1rem;
	padding-bottom: 0.15rem;
	box-sizing: border-box;
}
.assess_lb_title{
	width:100%;
	font-size:0.16rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}
.assess_lb_title_time{
	font-size:0.1rem;
	color:#999;
}
.assess_lb_box{
	margin-top:0.02rem;
	display: flex;
	flex-direction: row;
	padding-bottom: 0.15rem;
}
.assess_lbb_img{
	width:0.12rem;
	height: 0.11rem;
	margin-left:0.03rem;
}
.assess_lbb_img:first-child{
	margin-left:0;
}
.assess_lb_text{
	font-size:0.14rem;
	color:#333;
	margin-top:0.13rem;
}
.assess_lbi_box{
	/*display: flex;
	flex-direction: row;
	margin-top:0.15rem;*/
	overflow: hidden;
}
.assess_lbi_img{
	width:0.74rem;
	height: 0.74rem;
	margin-left:0.03rem;
	margin-top:0.15rem;
	float: left;
}
.assess_lbi_img:first-child{
	margin-left:0;
}
.mine_search{
	width:100%;
	height: 0.64rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding:0 0.12rem;
	box-sizing: border-box;
}
.mine_search_box{
	flex:1;
	height: 0.4rem;
	background-color: #EFEFEF;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.mine_sb_img{
	width:0.22rem;
	height: 0.22rem;
	margin-left:0.15rem;
	margin-right:0.1rem;
}
.mine_sb_input{
	flex: 1;
	margin-right:0.1rem;
	background-color: #EFEFEF;
	font-size:0.16rem;
	color:#707070;
}
.mine_search_img{
	width:0.24rem;
	height: 0.24rem;
	margin-left:0.12rem;
}
.search_name{
	width:100%;
	height: 0.72rem;
	padding:0 0.12rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.search_name_fame{
	font-size:0.3rem;
	color:#333;
	font-weight: bold;
}
.search_name_img{
	width:0.72rem;
	height: 0.72rem;
}
.search_integral{
	padding-left:0.12rem;
	box-sizing: border-box;
	font-size:0.14rem;
	color:#333;
	margin-bottom: 0.15rem;
}
.search_list{
	width:calc(100% - 0.12rem);
	height: 0.64rem;
	border-bottom: 1px solid #E4E4E4;
	font-size:0.14rem;
	color:#333;
	line-height: 0.64rem;
	margin-left:0.12rem;
}
.search_list:first-child{
	border-top:1px solid #E4E4E4;
}

.applyfor_list{
	width:100%;
	height: 0.56rem;
	background-color: #FFF;
}
.applyfor_list:last-child{
	border-bottom: none;
}
.apply_box{
	width:calc(100% - 0.12rem);
	margin-left:0.12rem;
	height: 0.56rem;
	border-bottom: 1px solid #CECECE;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-right:0.12rem;
	box-sizing: border-box;
	background-color: #FFF;
}
.apply_box_title{
	font-size:0.16rem;
	color:#333;
}
.apply_box_title>text{
	color:#E60023;
}
.apply_box_right{
	width:1.51rem;
	font-size:0.14rem;
	color:#999;
	text-align: right;
}
.apply_box_right_input{
	width:1.51rem;
	text-align: right;
}
.applyfor_box{
	width:100%;
	min-height: 1.14rem;
	background-color: #FFF;
	margin-top:0.1rem;
	padding:0.12rem;
	box-sizing: border-box;
	overflow: hidden;
}
.applyfor_box_title{
	font-size:0.14rem;
	color:#333;
}
.applyfor_box_img{
	position: relative;
	width:0.6rem;
	height: 0.6rem;
	margin-top:0.1rem;
	margin-right:0.1rem;
	float: left;
}
.applyfor_box_input{
	position: absolute;
	width:100%;
	height: 100%;
	left:0;
	top:0;
	opacity: 0;
}
.applyfor_select{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top:0.12rem;
}
.applyfor_select_img{
	width:0.16rem;
	height: 0.16rem;
	margin-left:0.12rem;
	border:1px solid #ddd;
}
.applyfor_select_text{
	font-size:0.12rem;
	color:#333333;
	margin-left:0.1rem;
}
.applyfor_select_text>text{
	color:#7B9DD4;
	margin-left:0.05rem;
}
.applyfor_button{
	width:calc(100% - 0.24rem);
	height: 0.44rem;
	margin:0 auto;
	margin-top:0.41rem;
	font-size:0.16rem;
	color:#FFF;
	background-color: #E60023;
	line-height: 0.44rem;
	text-align: center;
}
.ma_list{
	width:100%;
	min-height: 1.02rem;
	background-color: #FFF;
	padding:0.15rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid #F8F8F8;
}
.ma_list:nth-child(2){
	margin-top:0.1rem;
}
.ma_list_left{
	flex: 1;
	
}
.ma_ll_title{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}
.ma_ll_title_name{
	font-size:0.16rem;
	color:#333;
	margin-right:0.12rem;
}
.ma_ll_title_phone{
	color:#999;
	font-size:0.14rem;
}
.ma_list_right{
	width:0.42rem;
	height: 0.57rem;
	border-left:1px solid #EEEEEE;
	line-height: 0.57rem;
	text-align: right;
	margin-left:0.22rem;
	font-size:0.14rem;
	color:#999;
}
.ma_ll_address{
	margin-top:0.1rem;
	font-size:0.14rem;
	color:#000;
	line-height: 0.2rem;
}
.ma_lla_tacitly{
	font-size:0.1rem;
	color:#FF423F;
	width:0.28rem;
	height: 0.2rem;
	border:1px solid #FF423F;
	line-height: 0.2rem;
	text-align: center;
	display: inline-block;
	margin-right:0.1rem;
	box-sizing: border-box;
	border-radius: 2px;
}
.ma_empty{
	width:100%;
	height: 0.5rem;
}
.ma_bottom{
	width:100%;
	height: 0.49rem;
	background-color: #FFF;
	position: fixed;
	bottom:0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color:#E60023;
	font-size:0.14rem;
}
.ma_bottom_img{
	width:0.15rem;
	height: 0.15rem;
	margin-right:0.03rem;
}
.addaddress_list{
	width:100%;
	height: 0.56rem;
	background-color: #FFF;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #EEEEEE;
	padding:0 0.15rem;
	box-sizing: border-box;
}
.addaddress_list:nth-child(2){
	margin-top:0.1rem;
}
.al_left{
	font-size:0.14rem;
	color:#333;
}
.addaddress_textarea{
	width:100%;
	height: 1.1rem;
	padding:0.15rem;
	color:#999;
	font-size:0.14rem;
	box-sizing: border-box;
	resize: none;
}
.addaddress_textarea::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #999999;
    }
.addaddress_textarea:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #999999;
    }
.addaddress_textarea::-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #999999;
    }
    .al_button{
    	width:calc(100% - 0.24rem);
    	height: 0.44rem;
    	margin-left:0.12rem;
    	position: fixed;
    	bottom:0.12rem;
    	background-color: #E60023;
    	font-size:0.16rem;
    	color:#FFF;
    	line-height: 0.44rem;
    	text-align: center;
    }
.mi_header{
	width:100%;
	height: 0.89rem;
	background-color: #FFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding:0 0.12rem;
	box-sizing: border-box;
	margin-top:0.1rem;
}
.mi_header_title{
	font-size:0.12rem;
	color:#333;
}
.mi_header_number{
	font-size:0.32rem;
}
.mi_name{
	font-size:0.14rem;
	color:#E60023;
	width:100%;
	height: 0.4rem;
	line-height: 0.4rem;
	padding-left:0.12rem;
	box-sizing: border-box;
}
.mi_list{
	width:100%;
	height: 0.56rem;
	padding: 0 0.12rem;
	box-sizing: border-box;
	background-color: #FFF;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid #E9E9E9;
}
.mi_list_left_title{
	font-size:0.14rem;
	color:#000;
	margin-top:0.1rem;
}
.mi_list_left_time{
	font-size:0.11rem;
	color:#CECECE;
	margin-top:0.04rem;
}
.mi_list_right{
	font-size:0.16rem;
	color:#333;
	line-height: 0.56rem;
}
.layui-form-onswitch{
	background-color: #E60023;
	border-color:#E60023;
}
.edit>div{
	color:#333;
}
.ss_screen{
	width:100%;
	height: calc(100vh - 1.04rem);
	position: fixed;
	top:1.04rem;
	background-color: rgba(0,0,0,0.5);
	z-index:99999999;
}
.ss_screen_box{
	width:100%;
	background-color: #FFF;
	border-top:1px solid #EFEFEF;
}
.ss_sb_button{
	width:100%;
	height: 0.5rem;
	background-color: red;
	margin-top:0.2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.ss_ssb_resetting{
	width:50%;
	height: 0.5rem;
	line-height: 0.5rem;
	text-align: center;
	font-size:0.14rem;
	background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    color:#333;
}
.ss_ssb_define{
	width:50%;
	height: 0.5rem;
	line-height: 0.5rem;
	text-align: center;
	font-size:0.14rem;
	background-color: #E60023;
    color:#FFF;
}
.ss_sbb_box{
	width:100%;
	padding:0.15rem 0 0.15rem 0.15rem;
	box-sizing: border-box;
	overflow: hidden;
}
.ss_ssbb_list{
	display: inline-block;
	padding:0.05rem 0.1rem;
	font-size:0.12rem;
	background-color: #F9F9F9;
	float: left;
	margin-right:0.2rem;
	margin-top:0.2rem;
	border-radius: 2px;
}
.ssl_hover{
	color:#E60023;
	background-color:#FFEBE4;
}
.x_news_header{
	width:100%;
	height: 0.64rem;
	padding:0 0.12rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size:0.18rem;
	color:#333;
	position: relative;
}
.x_new_text{
	position: absolute;
	left:0;
	width:100%;
	text-align: center;
}
.x_nh_return{
	width:0.32rem;
	height: 0.32rem;
}
.x_nh_write{
	width:0.24rem;
	height: 0.24rem;
}
.x_new_list{
	width:calc(100% - 0.12rem);
	min-height: 0.64rem;
	margin-left:0.12rem;
	border-bottom: 1px solid #E4E4E4;
	padding-right:0.12rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.x_new_list_img{
	width:0.4rem;
	height: 0.4rem;
}
.x_new_list_content{
	flex: 1;
	margin-left:0.12rem;
}
.x_nlc_title{
	width:100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.x_nlc_title_name{
	font-size:0.14rem;
	color:#333;
	line-height: 0.2rem;
}
.x_nlc_title_time{
	font-size:0.1rem;
	color:#999;
}
.x_nlc_content{
	font-size:0.12rem;
	color:#333;
	margin-top:0.03rem;
}
.x_new_botton{
	width:0.8rem;
	line-height: 0.36rem;
	background-color: #E60023;
	text-align: center;
	color:#FFF;
	font-size:0.16rem;
	border-radius: 6px;
}
.x_news_search{
	width:calc(100% - 0.24rem);
	height: 0.4rem;
	margin:0 auto;
	margin-top:0.04rem;
	margin-bottom: 0.12rem;
	background-color: #EFEFEF;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.x_ns_img{
	width:0.22rem;
	height: 0.22rem;
	margin-left:0.15rem;
}
.x_ns_input{
	flex:1;
	margin-left:0.1rem;
	background-color: #EFEFEF;
	line-height: 0.4rem;
}
.x_ns_input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#707070;
    font-size:0.16rem;
}
.x_ns_input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#707070;
   font-size:0.16rem;
}
.x_ns_input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#707070;
   font-size:0.16rem;
}
.x_ns_input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:#707070;
   font-size:0.16rem;
}
.x_news_lis{
	width:calc(100% - 0.12rem);
	height: 0.64rem;
	border-bottom: 1px solid #E4E4E4;
	margin-left:0.12rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.x_news_lis_img{
	width:0.46rem;
	height: 0.46rem;
	border-radius: 50%;
}
.x_news_lis_text{
	font-size:0.14rem;
	color:#333;
	margin-left:0.12rem;
}
.s_sbox{
	position: fixed;
	top:0;
	left:0;
	background-color: #FFF;
	width:100%;
}
.s_sbox_empty{
	width:100%;
	height: 1.04rem;
}
.s_sheader{
	width:100%;
	height: 0.64rem;
	padding: 0 0.12rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.s_sh_box{
	flex: 1;
	height: 0.4rem;
	border-radius: 8px;
	background-color: #EFEFEF;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.s_sh_cancel{
	font-size:0.12rem;
	color:#707070;
	margin-left:0.12rem;
}
.s_shb_input{
	flex: 1;
	margin-left:.15rem;
	background-color: #EFEFEF;
}
.s_ssh_img{
	width:0.24rem;
	height: 0.24rem;
	margin:0 0.08rem;
}
.s_nav{
	width:100%;
	height: 0.4rem;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #D8D8D8;
	color:#999999;
	font-size:0.12rem;
}
.s_nav_lis{
	flex: 1;
	line-height: 0.4rem;
	text-align: center;
}
.s_zs{
	width:100%;
}
.s_zs_title{
	font-size:0.12rem;
	color:#333;
	padding-left:0.12rem;
	box-sizing: border-box;
	margin-top:0.12rem;
	margin-bottom: 0.04rem;
}
.s_zs_list{
	width:100%;
	height: 0.4rem;
	font-size:0.16rem;
	color:#333;
	padding-left:0.12rem;
	box-sizing: border-box;
	font-weight: bold;
	line-height: 0.4rem;
}
.s_user{
	width:100%;
}
.s_user_title{
	font-size:0.12rem;
	color:#333;
	width:100%;
	height: 0.41rem;
	line-height: 0.41rem;
	padding-left:0.24rem;
	box-sizing: border-box;
}
.s_user_list{
	width:calc(100% - 0.12rem);
	height: 0.64rem;
	border-bottom: 1px solid #E4E4E4;
	margin-left:0.12rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.s_ul_img{
	width:0.4rem;
	height: 0.4rem;
	border-radius: 50%;
}
.s_ul_content{
	margin-left:0.12rem;
}
.s_ulc_name{
	font-size:0.16rem;
	color:#333;
	font-weight: bold;
	line-height: 0.22rem;
}
.ulc_com{
	font-size:0.12rem;
	color:#333;
	line-height: 0.17rem;
	margin-top:0.01rem;
}
.s_sh_img{
	width:0.24rem;
	height: 0.24rem;
	margin-left:0.12rem;
}
.st_box{
	width:100%;
	padding:0 0.13rem;
	box-sizing: border-box;
	overflow: hidden;
	height: calc(100vh - 0.64rem);
	overflow-y: auto;
}
.st_box_list{
	width:1.65rem;
	float: left;
}
.st_box_list:nth-child(2n){
	margin-left:calc(100% - 3.3rem);
}
.stbl_img{
	width:1.65rem;
	height: 1.65rem;
	border-radius: 50%;
}
.stbl_name{
	font-size:0.14rem;
	color:#333;
	margin-top:0.1rem;
	margin-bottom: 0.12rem;
	text-align: center;
}
.stbl_botton{
	width:1.65rem;
	height: 0.4rem;
	line-height: 0.4rem;
	text-align: center;
	color:#FFF;
	font-size:0.16rem;
	background-color: #E60023;
	border-radius: 6px;
	margin-bottom: 0.2rem;
}
.ss_box{
	position: fixed;
	left:0;
	top:0;
	width:100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 99;
}
.sb_content{
	width:100%;
	min-height: 3rem;
	background-color: #FFF;
	position: absolute;
	bottom:0;
	left:0;
	border-radius:10px 10px 0px 0px;
	
}
.sb_content_title{
	width:100%;
	height:0.48rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding:0 0.12rem;
	box-sizing: border-box;
	border-bottom: 1px solid #E5E5E5;
}
.sb_ct_name{
	font-size:0.16rem;
	color:#333;
	font-weight: bold;
}
.sb_ct_img{
	width:0.32rem;
	height: 0.32rem;
}
.sb_ct_list{
	width:100%;
	min-height: 0.64rem;
	padding:0.12rem 0.12rem 0 0.12rem;
	box-sizing: border-box;
	margin-bottom:0.2rem;
}
.sb_ctl_title{
	font-size:0.14rem;
	color:#333;
}
.sb_ctl_condition{
	font-size:0.16rem;
	color:#999;
	margin-top:0.1rem;
	margin-right: 0.1rem;
	float: left;
}
.sbehind_nav{
	width:calc(100% - 0.24rem);
	height: 0.35rem;
	display: flex;
	flex-direction: row;
	margin:0 auto;
	overflow: hidden;
	overflow-x: auto;
	box-sizing: border-box;
}
.sbehind_nav::-webkit-scrollbar {
    display: none;
}
.sbn_list{
	width:0.84rem;
	min-width:0.84rem;
	height: 0.35rem;
	margin-right:0.08rem;
	font-size:0.12rem;
	color:#eee;
	line-height: 0.35rem;
	text-align: center;
	background-color: orange;
	border-radius: 4px;
}
.s_cbox{
	width:100%;
}
.sp_header{
	width:100%;
	height: 0.64rem;
	padding:0 0.12rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.sp_ha{
	width:0.32rem;
	height: 0.32rem;
}
.sp_hb{
	width:0.32rem;
	height: 0.32rem;
	margin-left:0.15rem;
}
.sp_hempty{
	flex: 1;
}
.sp_hc{
	width:0.84rem;
	height: 0.4rem;
	border-radius: 6px;
	background-color: #EFEFEF;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color:#333;
}
.sp_hc_img{
	width:0.18rem;
	height: 0.18rem;
}
.sp_hc_text{
	font-size:0.16rem;
	
	margin-left:0.1rem;
}
.sp_hd{
	width:0.84rem;
	height: 0.4rem;
	border-radius: 6px;
	background-color: #E60023;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-left:0.12rem;
	color:#FFF;
}
.sp_ibox{
	width:100%;
	height: 3.75rem;
	position: relative;
}
.sp_ibox_img{
	width:100%;
	height: 3.75rem;
}
.sp_ibox_button{
	width:0.4rem;
	height: 0.4rem;
	position: absolute;
	bottom:0.12rem;
	right:0.12rem;
}
.sp_ptitle{
	width:calc(100% - 0.24rem);
	margin:0 auto;
	margin-top:0.12rem;
	font-size:0.2rem;
	color:#000;
	line-height: 0.28rem;
}
.sp_puser{
	width:100%;
	padding: 0 0.12rem;
	box-sizing: border-box;
	margin-top:0.08rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.sp_pu_img{
	width:0.4rem;
	height: 0.4rem;
}
.sp_pu_center{
	flex: 1;
	margin-left:0.12rem;
}
.sp_puc_name{
	font-size:0.14rem;
	color:#333;
	line-height: 0.2rem;
}
.sp_pus_number{
	font-size:0.12rem;
	color:#999;
	line-height: 0.17rem;
}
.sp_puser_botton{
	width:0.6rem;
	height: 0.32rem;
	background-color: #E60023;
	color:#FFF;
	font-size:0.14rem;
	line-height: 0.32rem;
	text-align: center;
	border-radius: 6px;
}
.sp_pb_content{
	font-size:0.14rem;
	color:#333;
	width:calc(100% - 0.12rem);
	margin-left:0.12rem;
	margin-top:0.14rem;
}
.sp_pb_content_text{
	display: inline-block;
	width:2.1rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 0.2rem;
}
.sp_pb_content_span{
	display: inline-block;
	font-weight: bold;
	vertical-align: top;
}
.sp_time{
	font-size:0.14rem;
	color:#333;
	margin-top:0.1rem;
	line-height: 0.2rem;
	margin-left:0.12rem;
}
.sp_com{
	width:calc(100% - 0.24rem);
	height: 0.4rem;
	background-color: #EFEFEF;
	margin:0 auto;
	margin-top:0.12rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.sp_com_img{
	width:0.1rem;
	height: 0.1rem;
}
.sp_com_url{
	font-size:0.14rem;
	color:#333;
	font-weight: bold;
	margin-left:0.05rem;
	line-height: 0.19rem;
	border-radius: 6px;
}
.sp_puc_a{
	font-size:0.14rem;
	color:#333;
	font-weight: bold;
	line-height: 0.2rem;
}
.sp_puc_a span{
	font-weight: 400;
	font-size:0.12rem;
	line-height: 0.17rem;
	margin-left:0.02rem;
	margin-right:0.02rem;
}
.sp_pus_b{
	font-size:0.12rem;
	line-height: 0.17rem;
	margin-top:0.02rem;
	color:#333;
}
.sp_crossing{
	width:calc(100% - 0.24rem);
	height: 0.01rem;
	background-color: #D8D8D8;
	margin:0 auto;
	margin-top:0.05rem;
	margin-bottom: 0.11rem;
}
.sp_recommend{
	font-size:0.14rem;
	color:#333;
	margin-bottom: 0.11rem;
	width:100%;
	padding: 0 0.12rem;
	box-sizing: border-box;
	font-weight: bold;
}
.zf_box{
	width:100%;
	height: 100%;
	position: fixed;
	bottom:0;
	left:0;
	background-color: rgba(0,0,0,0.5);
}
.zf_box_content{
	width:100%;
	min-height: 1.94rem;
	background-color: #FFF;
	border-radius: 10px 10px 0 0;
	position: absolute;
	bottom:0;
}
.zf_bc_header{
	width:100%;
	height: 0.48rem;
	border-bottom:1px solid #E5E5E5;
	padding: 0 0.12rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.zf_bch_left{
	width:0.32rem;
	height: 0.32rem;
}
.zf_bch_center{
	font-size:0.16rem;
	color:#333;
	font-weight: bold;
}
.zf_bch_right{
	width:0.32rem;
	height: 0.32rem;
}
.zf_bc_lis{
	width:100%;
	height: 1rem;
	margin-bottom:0.02rem;
	padding:0 0.12rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.zf_bcl_box{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.zf_bclb_img{
	width:0.48rem;
	height: 0.48rem;
}
.zf_bclb_text{
	font-size:0.12rem;
	color:#333;
	margin-top:0.12rem;
}
.zf_bc_ibox{
	width:calc(100% - 0.24rem);
	height: 0.45rem;
	margin:0 auto;
	background-color: #D8D8D8;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding:0 0.1rem;
	box-sizing: border-box;
}
.zf_bc_img{
	width:0.22rem;
	height: 0.22rem;
}
.zf_bc_input{
	flex: 1;
	margin-left:0.1rem;
	background-color: #D8D8D8;
	font-size:0.14rem;
	color:#999;
}
.zf_bc_input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#999;
    font-size:0.14rem;
}
.zf_bc_input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#999;
   font-size:0.14rem;
}
.zf_bc_input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#999;
   font-size:0.14rem;
}
.zf_bc_input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:#999;
   font-size:0.14rem;
}
.zf_bc_listt{
	width:100%;
	height: 0.56rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding:0 0.12rem;
	box-sizing: border-box;
	border-bottom: 1px solid #EFEFEF;
}
.zf_bcl_img{
	width:0.4rem;
	height: 0.4rem;
	border-radius: 50%;
}
.zf_bcl_name{
	flex: 1;
	font-size:0.14rem;
	margin-left:0.12rem;
	font-weight: bold;
}
.zf_bcl_botton{
	width:0.45rem;
	height: 0.3rem;
	background-color: #E60023;
	color:#FFF;
	font-size:0.14rem;
	line-height: 0.3rem;
	text-align: center;
	border-radius: 6px;
}
.sc_header{
	width:100%;
	height: 0.64rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size:0.18rem;
	color:#333;
	position: relative;
}
.sc_header_img{
	position: absolute;
	width:0.32rem;
	height: 0.32rem;
	left:0.12rem;
}
.sc_title{
	width:100%;
	height: 0.96rem;
	border-bottom: 1px solid #D8D8D8;
	display: flex;
	flex-direction: row;
	padding:0 0.12rem;
	box-sizing: border-box;
}
.sc_title_img{
	width:0.84rem;
	height: 0.84rem;
}
.sc_content{
	width:2.38rem;
	margin-left:0.12rem;
	color:#333;
	font-size:0.14rem;
}
.sc_slist_box{
	width:100%;
}
.sc_slist{
	margin-top:0.2rem;
	width:100%;
	height: 0.4rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left:0.12rem;
	box-sizing: border-box;
}
.sc_slist:nth-of-type(1){
	margin-top:0.14rem;
}
.sc_slist_img{
	width:0.4rem;
	height: 0.4rem;
	border-radius: 0.06rem;
}
.sc_slist_text{
	flex:1;
	font-size:0.14rem;
	color:#333;
	margin-left:0.12rem;
}
.sc_slist_imgt{
	width:0.16rem;
	height: 0.16rem;
}
.sc_slist_imge{
	width:0.32rem;
	height: 0.32rem;
	margin-right:0.04rem;
}
.sc_slist_name{
	font-size:0.12rem;
	color:#333;
	width:100%;
	height: 0.4rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left:0.12rem;
	box-sizing: border-box;
	border-top:1px solid #D8D8D8;
	margin-top:0.16rem;
}
.sc_slistt:nth-child(2){
	margin-top:0;
}
.sc_sbutton_empty{
	width:100%;
	height: 0.49rem;
}
.sc_sbotton{
	width:100%;
	height: 0.49rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: fixed;
	bottom:0;
	left:0;
	background-color: #FFF;
}
.sc_sbutton_img{
	width:0.32rem;
	height: 0.32rem;
	margin-left:0.12rem;
}
.sc_sbutton_span{
	font-size:0.14rem;
	color:#333;
	margin-left:0.04rem;
}
.jb_box{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}
.jbb_box{
	width:100%;
	height: 0.49rem;
	background-color: #FFF;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size:0.16rem;
	color:#333;
	position: absolute;
	left:0;
	bottom:0;
	border-radius: 10px 10px 0 0;
}
.jbb_box_img{
	width:0.32rem;
	height: 0.32rem;
	position: absolute;
	right:0.12rem;
}
.jt_header{
	width:100%;
	height: 0.64rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size:0.18rem;
	color:#333;
	font-weight: bold;
	position: relative;
}
.jt_header_img{
	position: absolute;
	left:0.12rem;
	width:0.32rem;
	height: 0.32rem;
}
.jt_list{
	width:100%;
	height: 0.7rem;
	padding:0 0.04rem 0 0.12rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.jt_list_left{
	flex: 1;
}
.jt_ll_title{
	font-size:0.16rem;
	color:#333;
	font-weight: bold;
	line-height: 0.21rem;
}
.jt_ll_font{
	font-size:0.14rem;
	color:#999;
	line-height: 0.19rem;
	margin-top:0.03rem;
}
.jt_list_img{
	width:0.32rem;
	height: 0.32rem;
}
.jt_tname{
	font-size:0.2rem;
	color:#333;
	margin-top:0.1rem;
	padding-left:0.12rem;
	line-height: 0.28rem;
	box-sizing:border-box;
}
.jt_tbox{
	width:100%;
	margin-top:0.29rem;
}
.jt_tbox:nth-of-type(1){
	margin-top:0.1rem;
}
.jt_box_name{
	font-size:0.16rem;
	color:#333;
	line-height: 0.22rem;
	padding-left:0.12rem;
	box-sizing: border-box;
}
.jt_box_box{
	margin-top:0.1rem;
	padding-left:0.12rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.jt_bb_dot{
	width:0.04rem;
	height: 0.04rem;
	background-color: #333;
	border-radius: 50%;
}
.jt_bb_text{
	font-size:0.14rem;
	color:#333;
	line-height: 0.2rem;
	margin-left:0.09rem;
}
.jt_zbox{
	width:100%;
}
.jt_pb_box{
	width:100%;
	margin-top:0.3rem;
	padding-left:0.12rem;
	box-sizing: border-box;
}
.jt_pbb_name{
	font-size:0.16rem;
	line-height: 0.22rem;
	color:#000;
}
.jt_pbb_content{
	width:2.75rem;
	font-size:0.14rem;
	color:#333;
	margin-top:0.1rem;
	line-height: 0.24rem;
}
.jt_jbotton{
	width:calc(100% - 0.12rem);
	height: 0.44rem;
	border-radius: 8px;
	background-color: #E60023;
	font-size:0.16rem;
	color:#FFF;
	line-height: 0.44rem;
	text-align: center;
	margin:0 auto;
	margin-top:0.48rem;
}
.layui-forms{
	position: absolute;
	top:3.09rem;
	right:0.11rem;
	width:0.57rem;
	height: 0.43rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.layui-form-switch{
	background-color: #d2d2d2;
}
.layui-form-switch i{
	background-color: #FFF;
}
.layui-form-onswitch{
	border-color:#E60023;
	background-color: #E60023;
}
.x_nlc_title_time span{
	margin-right:0.03rem;
}
.tz_title{
	width:100%;
	height: 0.44rem;
	line-height: 0.44rem;
	padding-left:0.2rem;
	box-sizing: border-box;
	font-size:0.16rem;
	color:#333;
	font-weight: bold;
}
.tz_user{
	width:100%;
	height: 0.72rem;
	border-top:1px solid #EFEFEF;
	display:flex;
	flex-direction: row;
	align-items: center;
	padding:0 0.12rem;
	box-sizing: border-box;
}
.tz_user_img{
	width:0.4rem;
	height: 0.4rem;
	border-radius: 50%;
}
.tz_user_content{
	flex:1;
	margin-left:0.109rem;
}
.tz_uc_name{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.tz_ucn_name{
	font-size:0.16rem;
	color:#333;
	font-weight: bold;
	line-height: 0.22rem;
}
.tz_ucn_text{
	font-size:0.14rem;
	color:#333;
	line-height: 0.2rem;
	margin-left:0.04rem;
}
.tz_uc_time{
	font-size:0.12rem;
	color:#999;
	margin-top:0.02rem;
}
.tz_gz{
	font-size:0.14rem;
	color:#999;
	width:100%;
	height: 0.51rem;
	padding: 0.2rem 0 0 0.2rem;
	box-sizing: border-box;
	border-top:1px solid #EFEFEF;
}
.tz_gz_list{
	width:100%;
	height: 1.23rem;
	border-top:1px solid #EFEFEF;
	display: flex;
	flex-direction: row;
	padding:0 0.12rem;
	box-sizing: border-box;
}
.tz_gzl_img{
	width:0.4rem;
	height: 0.4rem;
	border-radius: 50%;
	margin-top:0.16rem;
}
.tz_gzl_right{
	margin-left:0.1rem;
	margin-top:0.16rem;
}
.tz_gzlr_top{
	display: flex;
	flex-direction: row;align-items: center;
}
.tz_gzlr_top_name{
	font-size:0.16rem;
	margin-right:0.15rem;
	line-height: 0.22rem;
	font-weight: bold;
}
.tz_gzlr_top_text{
	font-size:0.12rem;
	line-height: 0.16rem;
	color:#999;
}
.tz_gzlr_botton{
	width:100%;
}
.tz_gzlrb_img{
	width:0.4rem;
	height: 0.6rem;
	margin-top:0.1rem;
	margin-right:0.04rem;
	float: left;
}
